.accordion {
    &-title {
        @include title-section();
    }

    &-container {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        &__item {
            overflow: hidden;
            background-color: $color-background-grey;
            border-radius: 2.8125rem;
            transition: background-color 0.3s ease;
            border: 1px solid black;
            box-shadow: 0 5px 0 0 black;

            &-input {
                display: none;
            }

            &-header {
                display: flex;
                padding: clamp(1.5625rem, 1.4286vw + 1.2768rem, 2.5625rem) clamp(1.75rem, 2.8571vw + 1.1786rem, 3.75rem) clamp(1.5625rem, 1.4286vw + 1.2768rem, 2.5625rem) clamp(1.75rem, 2.8571vw + 1.1786rem, 3.75rem);
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                transition: background-color 0.4s ease;

                &:hover {
                    background-color: darken($color-background-lime, 10%);
                }

                &:active {
                    background-color: darken($color-background-lime, 20%);
                    transition: 0.3s ease;
                }

                &-icon {
                    position: relative;
                    width: clamp(1.875rem, 2.5vw + 1.375rem, 3.625rem);
                    height: clamp(1.875rem, 2.5vw + 1.375rem, 3.625rem);
                    min-width: 1.875rem;
                    min-height: 1.875rem;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: opacity 0.3s ease, transform 0.3s ease;
                    }

                    .plus-icon {
                        opacity: 1;
                        transform: rotate(0deg);
                    }

                    .minus-icon {
                        opacity: 0;
                        transform: rotate(-180deg);
                    }
                }

                div {
                    display: flex;
                    align-items: center;

                    h1 {
                        font-weight: $font-weight-medium;
                        font-size: $font-size-h2;
                    }

                    h3 {
                        font-weight: $font-weight-medium;
                        margin-left: 1rem;
                        font-size: $font-size-h5;
                    }
                }
            }

            &-input:checked~&-header {
                background-color: $color-background-lime;

                .accordion-container__item-header-icon {
                    .plus-icon {
                        opacity: 0;
                        transform: rotate(180deg);
                    }

                    .minus-icon {
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }
            }

            &-content {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease, padding 0.3s ease;
                background-color: $color-background-lime;
                padding: 0 clamp(1.75rem, 2.8571vw + 1.1786rem, 3.75rem);
                position: relative;

                p {
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        background-color: black;
                        transition: background-color 0.3s ease;
                        margin: -1.75rem 0;
                        width: 100%;
                        height: 1px;
                        top: 0;
                        left: 0;
                    }
                }
            }

            &-input:checked~&-content {
                max-height: 1000px;
                padding: clamp(1.5625rem, 1.4286vw + 1.2768rem, 2.5625rem) clamp(1.75rem, 2.8571vw + 1.1786rem, 3.75rem);
                background-color: $color-background-lime;
            }
        }
    }
}