.reviews {
    &-title {
        @include title-section;
    }

    &-content {
        background-color: $color-background-dark;
        border-radius: 2.8125rem;
        padding-top: clamp(1.5rem, 6.4286vw + .2143rem, 6rem);
        padding-bottom: clamp(3.5rem, .7143vw + 3.3571rem, 4rem);

        @include respond-to("mobile-large") {
            padding-top: 1.5rem;
        }

        &__container {
            display: flex;
            justify-content: center;
            align-items: stretch;
            overflow: hidden;
            position: relative;

            &-block {
                margin: 0 1.5rem;

                @include respond-to("mobile-large") {

                    &:nth-child(1),
                    &:nth-child(2) {
                        display: none;
                    }
                }


                &-review {
                    font-size: $font-size-p2;
                    color: #fff;
                    border-radius: 10px;
                    border: 2px solid $color-lime;
                    position: relative;
                    padding: 3rem;
                    border-radius: 2.8125rem;
                    margin-bottom: 3rem;

                    @include respond-to("mobile-large") {
                        padding: 2rem;
                    }

                    @include respond-above("mobile-large") {
                        width: clamp(20rem, 14.2857vw + 17.1429rem, 30rem);
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 3.75rem;
                        bottom: -17px;
                        width: 30px;
                        height: 30px;
                        border-bottom: 2px solid #d4ff3b;
                        border-right: 2px solid #d4ff3b;
                        background-color: $color-background-dark;
                        transform: rotate(45deg);
                        z-index: 1;
                    }

                }

                &-info {
                    color: $color-white;
                    font-size: $font-size-p3;
                    padding-left: 5rem;

                    @include respond-to("mobile-large") {
                        padding-left: clamp(1.5rem, 2.1429vw + 1.0714rem, 3rem);
                    }

                    h3 {
                        font-weight: $font-weight-regular;
                        color: $color-lime;
                    }
                }
            }
        }

        &__navigation {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            max-width: 55rem;
            margin: 0 auto;
            padding-top: clamp(2.75rem, 7.1429vw + 1.3214rem, 7.75rem);

            &-arrow {
                display: flex;
                gap: 0.9rem;
            }
        }
    }
}