.section-welcome {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .content-section {
        margin-top: 7.25rem !important;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0;

        @include respond-to("desktop-small") {
            margin-top: 5.3rem !important;
        }

        .overlay-text {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
            color: #fff;
            text-align: center;
            margin: 0 auto;

            h1 {
                color: #e8e7e3;
                border-radius: 9px;
                margin: 10px;
                padding: 20px;
                font-size: $font-size-h2;
                background-color: #2530349e;
                white-space: nowrap;
            }

            p {
                font-size: $font-size-h5;
            }
        }

        .overlay-text-link {
            top: 60%;

            a {
                @include button-style($color-btn-dark);
                white-space: nowrap;
            }
        }


        .slider-container.slider-dark-overlay {
            width: 100%;
            height: 100%;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: rgba(0, 0, 0, 0.45);
                z-index: 1;
            }

            .slider-track {
                display: flex;
                width: 100%;
                height: 100%;
                transition: transform 0.5s ease;
                position: relative;
                z-index: 0;

                .slide-item {
                    flex: 0 0 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                    }
                }
            }
        }
    }
}